
<span class="k-floating-label-container" style="width: 100%;">
    <label class="k-label">Privacy Level</label>
    <TelerikDropDownList Enabled="@CanUserEdit" Filterable="true" Width="100%" Data="@PrivacyLevels" @bind-Value="@SelectedValue"  OnChange="OnChangeHandler" />
</span>

@code {
    [CascadingParameter(Name = "CurrentUser")] public CurrentUser currentUser { get; set; }
    [Parameter] public string SelectedValue { get; set; }
    [Parameter] public EventCallback<string> SelectedValueChanged { get; set; }
    [Parameter] public bool CanUserEdit { get; set; } = true;

    List<string> PrivacyLevels = new List<string>();

    protected override void OnInitialized()
    {

        PrivacyLevels.Add("Public");
        PrivacyLevels.Add("Private");
        PrivacyLevels.Add("Discipline Only");
        PrivacyLevels.Add("Discipline Leaders");

        if (CanUserEdit)
        {
            CanUserEdit = currentUser.HasEditRights;
        }

    }

    async Task OnChangeHandler(object newVal)
    {
        await SelectedValueChanged.InvokeAsync((string)newVal);
    }
}
