@layout TelerikLayout
@inherits LayoutComponentBase

<BannerTrial />

<div class="page">
    <div class="main">
        <div class="top-row">
            <HeaderHome />
        </div>
        @Body
    </div>
    <div class="push"></div>
</div>

<FooterHome />