<style>

    .fa-facebook {
        background: #3B5998;
        color: white;
        padding: 10px;
        padding-top: 13px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.7;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
        padding: 10px;
        padding-top: 13px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.7;
    }

    .fa-youtube {
        background: #bb0000;
        color: white;
        padding: 10px;
        padding-top: 13px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.7;
    }

    .fa-instagram {
        background: #125688;
        color: white;
        padding: 10px;
        padding-top: 13px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.7;
    }

    .fa-skype {
        background: #00aff0;
        color: white;
        padding: 10px;
        padding-top: 13px;
        font-size: 20px;
        width: 40px;
        height: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        opacity: 0.7;
    }
</style>

<div class="MobileClass">
    <div class="fixed-bottom container-fluid" style="background-color: black; color: white;">
        <div class="row">
            <div class="column col-lg-4 text-center">
                <p>StudioManager Software</p>
            </div>
            <div class="column col-lg-4 text-center">
                <p><a href="mailto: support@StudioManager.net">support@StudioManager.net</a></p>
            </div>
        </div>
    </div>
</div>
<div class="WideScreenClass">
    <div class="fixed-bottom container-fluid" style="background-color: black; color: white;">
        <div class="row">
            <div class="column col-lg-4 text-center">
                <p>StudioManager Software</p>
                <p>New York, NY</p>
            </div>
            <div class="column col-lg-4 text-center">
                <p><a href="mailto: support@StudioManager.net">support@StudioManager.net</a></p>
            </div>

            <div class="column col-lg-4 text-center">
                <a href="https://www.facebook.com/StudioManagersoftware"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/show_builder?ref_src=twsrc%5Etfw"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="https://www.youtube.com/channel/UCH-xSQq6hdDaskfjLoEI5yg?view_as=subscriber"><i class="fab fa-youtube fa-lg"></i></a>
                <a href="https://www.instagram.com/StudioManagersoftware/"><i class="fab fa-instagram fa-lg"></i></a>
                @*<a href="https://twitter.com/show_builder?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @StudioManagerTag</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@
            </div>
        </div>
    </div>
</div>
    
