@layout TelerikLayout
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row">
            <HeaderRegister />
            @*<button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>*@
        </div>
        @Body
    </div>
</div>

<FooterHome />