<div style="margin-left: auto; margin-right:auto; width: 100%; margin-top:15px;">
    <div id="app">
        <div style="position:absolute; top:30vh; width:100%; text-align:center">
            <h1>StudioManager</h1>
            <p><i class="fas fa-spin fa-spinner"></i> Places please.  The show will begin soon...</p>
            <p>We are setting a lot of things up.  This could take a minute or two.  Please be patient.</p>
        </div>
    </div>
</div>