<div style="margin-left: auto; margin-right:auto; width: 100%; margin-top:15px;">
    <div class="loading-panel-wrapper">
        <div class="loading-panel-overlay"></div>
        <TelerikLoader Size="@LoaderSize.Large" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeColors.Tertiary" />
    </div>
</div>