<div style="position:absolute; top:30vh; width:100%; text-align:center">
    <h1>StudioManager</h1>
    <p><i class="fas fa-spin fa-spinner"></i> Places please.  The show will begin soon...</p>
</div>


@*<div style="margin-left: auto; margin-right:auto; width: 100%; margin-top:15px; min-height:800px; min-width:800px;">
    <div class="loading-panel-wrapper">
        <div class="loading-panel-overlay"></div>
        <TelerikLoader Size="@LoaderSize.Large" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeColors.Tertiary" />
    </div>
</div>*@