<div style="margin-left: auto; margin-right:auto; width: 100%; margin-top:15px;">
    <div class="loading-panel-wrapper">
        <div class="loading-panel-overlay"></div>
        <TelerikLoader Size="@LoaderSize.Large" Type="@LoaderType.ConvergingSpinner" ThemeColor="@ThemeColors.Tertiary" />
    </div>
    <img id="mainImage" class="image-fluid photo" src="https://Showbuilderstorage.blob.core.windows.net/banner-images/Main1.png" />
</div>